h1 {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    text-align: center;
    background-color: #36454F;
}
h4{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 200%;

}
h2{
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 150%;
    background-color: white;

}
.title{
    justify-content: 20%;
display:flex;
padding-top: 2px;
}

#id,#score{
    display: inline;
}
p{
    font-weight: 300;
    font-size: 200%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
div{
    display: block;
    padding-left: 27%;
}
*{
    padding: 0;
    margin: 0;
}
button{
    padding: 10px;
}
tr{
    margin-top: 100px;
}
body{
    background-color: #E49AB0;
}
table{
    padding-top: 50px;
}